<script>
    // copy code buttons
    let codes = document.querySelectorAll('.highlight > pre > code');
    let countID = 0;
    const copyBtnClass = 'text-theme-white';
    const copyBtnSuccessClass = 'text-success';
    const copyBtnErrorClass = 'text-danger';
    const copyString = '📋';
    const copiedString = 'Copied! ✅';
    const errorString = 'There was an error!';
    const resetTime = 2000;

    codes.forEach((code) => {

        code.setAttribute('id', 'code' + countID);

        let btn = document.createElement('button');
        btn.innerHTML = copyString;
        btn.className = 'btn btn-sm btn-copy btn-translucent border-0 position-absolute mt-n1 ' + copyBtnClass;
        btn.setAttribute('data-clipboard-action', 'copy');
        btn.setAttribute('data-clipboard-target', '#code' + countID);
        btn.setAttribute('style', 'backdrop-filter: blur(2px)');

        let div = document.createElement('div');
        div.appendChild(btn);

        code.before(div);

        countID++;
    });

    // add success callback
    let cb = new ClipboardJS('.btn-copy');
    cb.on('success', function (e) {
        e.trigger.classList.replace(copyBtnClass, copyBtnSuccessClass);
        e.trigger.innerText = copiedString;

        setTimeout(() => {
            e.trigger.classList.replace(copyBtnSuccessClass, copyBtnClass);
            e.trigger.innerText = copyString;
        }, resetTime);

        e.clearSelection();
    });

    // add error callback
    cb.on('error', function (e) {
        e.trigger.classList.replace(copyBtnClass, copyBtnErrorClass);
        e.trigger.innerText = errorString;

        setTimeout(() => {
            e.trigger.classList.replace(copyBtnErrorClass, copyBtnClass);
            e.trigger.innerText = copyString;
        }, resetTime);

        e.clearSelection();
    });
</script>