<!DOCTYPE html>
<html>
<head>
  <title>Computational Physics GUI</title>
  {% load markdown_extras %}
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'highlight.css'%}" type="text/css" media="screen">
</head>
<!-- CSS styling begins here -->
<style>
.align-image{ 
  align-items: center;
  justify-content: center;
}
.link-home{
  color: #c1c6fc;
}
.link-gui{
  color: #ff00e0;
}
.custom-bg1 {
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(255,0,224,1) 75%, rgba(255,185,247,1) 100%);
    }
.custom-bg2 {
    background-image: url("{% static 'bg3.jpg' %}");
    }
    .w-65{
    width: 65%;
  }
    a{
        color:#c1c6fc;
        text-decoration: none;
        &:hover {
            color: #ff9cf3;
        }
    }
  .bg-custom1 {
    background: #c1c6fc;
    color:#000866;
  }
  .bg-custom2 {
    background:#000866;
    color: #c1c6fc;
  }
  .d-none{
    display:none;
  }
  *{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }
</style>
<!-- CSS styling ends here -->
<body>
  
  <div class="container w-65">
    <div class="d-flex custom-bg1 p-3">
      <a href="/" class="me-5 link-home"> Home </a>
      <a href="/gui" class="link-gui"> Let's Learn! </a>
    </div>
    
    <form method="get" action="/gui">
    <div class="p-3 mb-2 text-info-emphasis custom-bg2">

      <p class="h4 text-center mb-3"><b> Open Source GUI for Teaching and Implementing Computational Physics Problems</b></p>
      <p id="prog_choice" class="h5 mt-3">Select the program you want to run </p>
      <div class="row">
        <div class="col-6">
          <div class="d-flex justify-content-between">
            <select name="prog_choice" id="prog" class="form-select form-select-sm mb-3" onchange="perform()">
              <option {% if prog_choice == 0 %}selected{% endif %} disabled value> Select program </option>
              <option {% if prog_choice == 1 %}selected{% endif %} value="1">Study of Projectile Motion</option>
              <option {% if prog_choice == 2 %}selected{% endif %} value="2">Study of LCR Oscillations</option>
              <option {% if prog_choice == 3 %}selected{% endif %} value="3">Study of Phase Trajectory of a Double Pendulum</option>
              <option {% if prog_choice == 4 %}selected{% endif %} value="4">Study of Drag Motion of a Spherical Body</option>
              <option {% if prog_choice == 5 %}selected{% endif %} value="5">Study of Charge in an Electromagnetic Field</option>
            </select>
        
          </div>    
        </div>
      </div>

      <p id="method_choice" class="h5">Select the numerical method you want to use </p>
      <div class="row">
        <div class="col-6">    
          <div class="d-flex justify-content-between">
            <select name="method_choice" value="{{ method_choice }}" id="method" class="form-select form-select-sm mb-3" aria-label="Small select example">
              <option {% if method_choice == 0 %}selected{% endif %} disabled value> Select method </option>
              <option {% if method_choice == 1 %}selected{% endif %} value="1">Runge-Kutta 4th Order</option>
              <option {% if method_choice == 2 %}selected{% endif %} value="2">Euler Method</option>
              <option {% if method_choice == 3 %}selected{% endif %} value="3"">Ralston Method</option>
            </select>
          </div>
        </div>
      </div>

      <div id="headings">
        <p id="projectile-heading" class="h3 d-none">Study of Projectile Motion</p>
        <p id="lcr-heading" class="h3 d-none">Study of LCR Oscillations</p>
        <p id="pendulum-heading" class="h3 d-none">Study of Phase Trajectory of a Double Pendulum</p>
        <p id="drag-heading" class="h3 d-none">Study of Drag Motion of a Spherical Body</p>
        <p id="fields-heading" class="h3 d-none">Study of Charge in an Electromagnetic Field</p>
      </div>

      <div id="form-fields">
        <div id="m" class="d-none">
          <p id="mass-field-heading" class="h5">Mass of the projectile (kg) </p>
          
          <div class="row">
            <div class="col-6">
              <input name="m" value="{{ m }}" class="form-control mb-3" type="text" placeholder="type mass">
            </div>
          </div>
        </div>

        <div id="r" class="d-none">
          <p id="radius-field-heading" class="h5">Radius of the projectile (m) </p>
          <div class="row">
            <div class="col-6">
              <input name="r" value="{{ r }}" class="form-control mb-3" type="text" placeholder="type radius">
            </div>
          </div>
        </div>

        <div id="th" class="d-none">
          <p class="h5">Release angle of the projectile (degrees) </p>
          <div class="row">
            <div class="col-6">
              <input name="th" value="{{ th }}" class="form-control mb-3" type="text" placeholder="type angle">
            </div>
          </div>
        </div>

        <div id="v0" class="d-none">
          <p id="ini_vel-field-heading" class="h5">Initial velocity of the projectile (m/s)</p>
          <div class="row">
            <div class="col-6">
              <input name="v0" value="{{ V0 }}" class="form-control mb-3" type="text" placeholder="type velocity">
            </div>
          </div>
        </div>

        <div id="c" class="d-none">
          <p class="h5">Drag coefficient of the medium</p>
          <div class="row">
            <div class="col-6">
              <input name="c" value="{{ c }}" class="form-control mb-3" type="text" placeholder="type drag coefficient">
            </div>
          </div>
        </div>

        <p class="h5 text"> {{ result }} </p>
      
        <div id="L" class="d-none">
          <p class="h5">Inductance (mH) </p>
          <div class="row">
            <div class="col-6">
              <input name="L" value="{{ L }}" class="form-control mb-3" type="text" placeholder="type inductance">
            </div>
          </div>
        </div>

        <div id="C" class="d-none">
          <p class="h5">Capacitance (μF)</p>
          <div class="row">
            <div class="col-6">
              <input name="C" value="{{ C }}" class="form-control mb-3" type="text" placeholder="type capacitance">
            </div>
          </div>
        </div>
        
        <div id="R" class="d-none">
          <p class="h5">Resistance (ohms)</p>
          <div class="row">
            <div class="col-6">
              <input name="R" value="{{ R }}" class="form-control mb-3" type="text" placeholder="type resistance">
            </div>
          </div>
        </div>
        
        <div id="i0" class="d-none">
          <p class="h5">Initial current (mA) </p>
          <div class="row">
            <div class="col-6">
              <input name="i0" value="{{ I }}" class="form-control mb-3" type="text" placeholder="type initial current">
            </div>
          </div>
        </div>
    
        <div id="q0" class="d-none">
          <p class="h5">Initial charge (mC)</p>
          <div class="row">
            <div class="col-6">
              <input name="q0" value="{{ Q }}" class="form-control mb-3" type="text" placeholder="type initial charge">
            </div>
          </div>
        </div>

        <div id="finalTime" class="d-none">
          <p class="h5">Final time (sec) </p>
          <div class="row">
            <div class="col-6">
              <input name="finalTime" value="{{ finalTime }}" class="form-control mb-3" type="text" placeholder="type final time">
            </div>
          </div>
        </div>
    
        <div id="n" class="d-none">
          <p class="h5">Number of loops </p>
          <div class="row">
            <div class="col-6">
              <input name="n" value="{{ n }}" class="form-control mb-3" type="text" placeholder="type number of loops you want to run">
            </div>
          </div>
        </div>
      
        <div id="m1" class="d-none">
          <p class="h5">Mass of first pendulum (kg) </p>
          <div class="row">
            <div class="col-6">    
              <input name="m1" value="{{ m1 }}" class="form-control mb-3" type="text" placeholder="type mass of first pendulum">
            </div>
          </div>
        </div>

        <div id="m2" class="d-none">
          <p class="h5">Mass of second pendulum (kg) </p>
          <div class="row">
            <div class="col-6">
              <input name="m2" value="{{ m2 }}" class="form-control mb-3" type="text" placeholder="type mass of second pendulum">
            </div>
          </div>
        </div>

        <div id="l1" class="d-none">
          <p class="h5">Length of first pendulum (m) </p>
          <div class="row">
            <div class="col-6">
              <input name="l1" value="{{ l1 }}" class="form-control mb-3" type="text" placeholder="type length of first pendulum">
            </div>
          </div>
        </div>

        <div id="l2" class="d-none">
          <p class="h5">Length of second pendulum (m) </p>
          <div class="row">
            <div class="col-6">
              <input name="l2" value="{{ l2 }}" class="form-control mb-3" type="text" placeholder="type length of second pendulum">
            </div>
          </div>
        </div>

        <div id="o11" class="d-none">
          <p class="h5">Release angle of first pendulum (degrees) </p>
          <div class="row">
            <div class="col-6">
              <input name="o11" value="{{ o11 }}" class="form-control mb-3" type="text" placeholder="type release angle of first pendulum">
            </div>
          </div>
        </div>

        <div id="o22" class="d-none">
          <p class="h5">Release angle of second pendulum (degrees) </p>
          <div class="row">
            <div class="col-6">
              <input name="o22" value="{{ o22 }}" class="form-control mb-3" type="text" placeholder="type release angle of second pendulum">
            </div>
          </div>
        </div>

        <div id="g" class="d-none">
          <p class="h5">Acceleration due to gravity (m/sec²)</p>
          <div class="row">
            <div class="col-6">
              <input name="g" value="{{ g }}" class="form-control mb-3" type="text" placeholder="type value of acceleration due to gravity">
            </div>
          </div>
        </div>
      
        <!-- <p class="h5">Mass of the body</p>
        <div class="row">
          <div class="col-6">
            <input name="md" value="{{ m }}" class="form-control mb-3" type="text" placeholder="type mass">
          </div>
        </did="rd" iv> -->

        <!-- <p class="h5">Radius of the body </p>
        <div class="row">
          <div class="col-6">
            <input name="rd" value="{{ r }}"  class="form-control mb-3" type="text" placeholder="type radius">
          </div>
        </div> -->

        <div id="p" class="d-none">
          <p class="h5">Medium density (kg/m³) </p>
          <div class="row">
            <div class="col-6">
              <input name="p" value="{{ p }}"  class="form-control mb-3" type="text" placeholder="type medium density">
            </div>
          </div>
        </div>

        <!-- <p class="h5">Drag coefficient of the medium</p>
        <div class="row">
          <div class="col-6">           
            <input name="cd" value="{{ c }}"  class="form-control mb-3" type="text" placeholder="type drag coefficient">
          </div>
        </div> -->

        <div id="mu" class="d-none">
          <p class="h5">Viscosity coefficient of the medium (N-s/m²)</p>
          <div class="row">
            <div class="col-6">
              <input name="mu" value="{{ mu }}" class="form-control mb-3" type="text" placeholder="type viscosity coefficient">
            </div>
          </div>
        </div>
        

        <div id="x" class="d-none">
          <p class="h5">Initial height (m) </p>
          <div class="row">
            <div class="col-6">
              <input name="x" value="{{ x }}" class="form-control mb-3" type="text" placeholder="type initial height">
            </div>
          </div>
        </div>

        <!-- <p class="h5">Initial velocity</p>
        <div class="row">
          <div class="col-6">
            <input name="v" value="{{ v }}" class="form-control mb-3" type="text" placeholder="type initial velocity">
          </div>
        </did="gd" iv> -->

        <!-- <p class="h5">Acceleration due to gravity</p>
        <div class="row">
          <div class="col-6">
            <input name="gd" value="{{ g }}" class="form-control mb-3" type="text" placeholder="type value of acceleration due to gravity">
          </div>
        </div> -->

        <div id="q" class="d-none">
          <p class="h5">Charge on the particle (C) </p>
          <div class="row">
            <div class="col-6">
              <input name="q" value="{{ q }}" class="form-control mb-3" type="text">
            </div>
          </div>
        </div>
  
        <!-- <p class="h5"> Mass of the particle </p>
        <div class="row">
          <div class="col-6">
            <input name="mf" value="{{ m }}"  class="form-control mb-3" type="text">
          </div>
        </div> -->
        <div id="vx" class="d-none">
          <p class="h5">Magnitude of x-component of velocity of the particle (m/sec) </p>
          <div class="row">
            <div class="col-6">
              <input name="vx" value="{{ vx }}"  class="form-control mb-3" type="text">
            </div>
          </div>
        </div>

        <div id="vy" class="d-none">
          <p class="h5">Magnitude of y-component of velocity of the particle (m/sec) </p>
          <div class="row">
            <div class="col-6">
              <input name="vy" value="{{ vy }}"  class="form-control mb-3" type="text">
            </div>
          </div>
        </div>

        <div id="vz" class="d-none">
          <p class="h5">Magnitude of z-component of velocity of the particle (m/sec) </p>
          <div class="row">
            <div class="col-6">
              <input name="vz" value="{{ vz }}"  class="form-control mb-3" type="text">
            </div>
          </div>
        </div>

        <div id="Ex" class="d-none">
          <p class ="h5">Magnitude of x-component of Electric Field (N/C) </p>
          <div class="row">
            <div class="col-6">
              <input name="Ex" value="{{ Ex }}"  class="form-control mb-3" type="text">
            </div>
          </div>
        </div>

        <div id="Ey" class="d-none">
          <p class="h5">Magnitude of y-component of Electric Field (N/C) </p>
          <div class="row">
            <div class="col-6">           
              <input name="Ey" value="{{ Ey }}"  class="form-control mb-3" type="text">
            </div>
          </div>
        </div>

        <div id="Ez" class="d-none">
          <p class="h5">Magnitude of z-component of Electric Field (N/C) </p>
          <div class="row">
            <div class="col-6">
              <input name="Ez" value="{{ Ez }}" class="form-control mb-3" type="text">
            </div>
          </div>
        </div>

        <div id="Bx" class="d-none">
          <p class="h5">Magnitude of x-component of Magnetic Field (T) </p>
          <div class="row">
            <div class="col-6">
              <input name="Bx" value="{{ Bx }}" class="form-control mb-3" type="text">
            </div>
          </div>
        </div>
  
        <div id="By" class="d-none">
          <p class="h5">Magnitude of y-component of Magnetic Field (T) </p>
          <div class="row">
            <div class="col-6">
              <input name="By" value="{{ By }}" class="form-control mb-3" type="text">
            </div>
          </div>
        </div>

        <div id="Bz" class="d-none">
          <p class="h5">Magnitude of z-component of Magnetic Field (T) </p>
          <div class="row">
            <div class="col-6">
              <input name="Bz" value="{{ Bz }}" class="form-control mb-3" type="text">
            </div>
          </div>
        </div>  

        <code class="bg-custom2"></code>
  
      </div>

      <div class="mt-3 mb-3">
        <button type="submit" class="btn btn-primary">Run</button>
        <button type="button" onclick="resetForm()" class="btn btn-primary">Clear</button>
      </div>
      
      <div id="data-download" class="{% if result == '' %}d-none{% endif %}">
        <p id="new-actions" class="h5">To download your program data, click on the button below:</p>
        <button id="download" type="button" class="btn btn-primary mt-3 d-none">Download data</button>
      </div>

      <button id="docs" type="button" class="btn btn-primary mt-3 mb-3 d-none">View Documentation</button>
      <button id="source-code" type="button" class="btn btn-primary mt-3 mb-3 d-none" onclick="viewProgramCode()">View program code</button>

      <br>
      <br>
      <br>

      <div id="code-embed" class="d-none">
        <div data-pym-src="https://www.jdoodle.com/embed/v1/f2a568536390d8a1?stdin=0&arg=0"></div> 
      </div>  

    </form>

  </div>

  {% for file_name in codeFilesList %} 
    <div id="code-{{ file_name }}" class="position-relative d-none bg-dark p-3 rounded mb-5">
        <code>{{ file_name | add:".md" | markdown | safe }}</code>
        <button id="code-copy-button" class="copy-button btn btn-light" onclick="copyCode('{{ file_name }}')">📋</button>
    </div>
  {% endfor %}
</body>

<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"> </script>
{% include 'copy_button.html'%}
<script>
  async function writeTextToClipboard(text) {
    try {
      await navigator.clipboard.writeText(text);
    } catch (error) {
      console.error(error.message);
    }
  }

  function copyCode(fileName) {
    const codeContent = document.querySelector(`#code-${fileName} > code`).innerText;
    writeTextToClipboard(codeContent);
    alert("Code copied to clipboard");
  }

  function viewProgramCode() {
    const codeDisplay = {
      1: "code-abc",
      2: "code-def",
      3: "code-xyz",
    }

    const program = document.getElementById("prog").value;
    
    Object.values(codeDisplay).forEach((id) => {
      document.getElementById(id).classList.add("d-none");
    });

    document.getElementById(codeDisplay[program]).classList.remove("d-none");
  }
  
  function dataDownload(){
    const dataDownload = document.getElementById("data-download");
    dataDownload.classList.remove("d-none");
  }
  
  function resetForm() {
    window.location = window.location.pathname;
  }

  function displayCondition(program) {
    // Heading divs
    const projectileHeading = document.getElementById("projectile-heading");
    const lcrHeading = document.getElementById("lcr-heading");
    const pendulumHeading = document.getElementById("pendulum-heading");
    const dragHeading = document.getElementById("drag-heading");
    const fieldsHeading = document.getElementById("fields-heading");

    const docsButton = document.getElementById("docs");
    const sourcecodeButton = document.getElementById("source-code");
    const downloadButton = document.getElementById("download");
    
    
    if (program > 0){
      docsButton.classList.remove("d-none");
      sourcecodeButton.classList.remove("d-none");
      downloadButton.classList.remove("d-none");
    }

    else{
      docsButton.classList.add("d-none");
      sourcecodeButton.classList.add("d-none");
      downloadButton.classList.add("d-none");
    }

    const fields = {
      "m": {
        1: true,
        2: false,
        3: false,
        4: true,
        5: true,
      },
      "r": {
        1: true,
        2: false,
        3: false,
        4: true,
        5: false,
      },
      "th": {
        1: true,
        2: false,
        3: false,
        4: false,
        5: false,
      },
      "v0": {
        1: true,
        2: false,
        3: false,
        4: true,
        5: false,
      },
      "c": {
        1: true,
        2: false,
        3: false,
        4: true,
        5: false,
      },
      "L": {
        1: false,
        2: true,
        3: false,
        4: false,
        5: false,
      },
      "C": {
        1: false,
        2: true,
        3: false,
        4: false,
        5: false,
      },
      "R": {
        1: false,
        2: true,
        3: false,
        4: false,
        5: false,
      },
      "i0": {
        1: false,
        2: true,
        3: false,
        4: false,
        5: false,
      },
      "q0": {
        1: false,
        2: true,
        3: false,
        4: false,
        5: false,
      },
      "finalTime": {
        1: false,
        2: true,
        3: false,
        4: false,
        5: false,
      },
      "n": {
        1: false,
        2: true,
        3: false,
        4: false,
        5: false,
      },
      "m1": {
        1: false,
        2: false,
        3: true,
        4: false,
        5: false,
      },
      "m2": {
        1: false,
        2: false,
        3: true,
        4: false,
        5: false,
      },
      "l1": {
        1: false,
        2: false,
        3: true,
        4: false,
        5: false,
      },
      "l2": {
        1: false,
        2: false,
        3: true,
        4: false,
        5: false,
      },
      "o11": {
        1: false,
        2: false,
        3: true,
        4: false,
        5: false,
      },
      "o22": {
        1: false,
        2: false,
        3: true,
        4: false,
        5: false,
      },
      "g": {
        1: false,
        2: false,
        3: true,
        4: true,
        5: false,
      },
      "p": {
        1: false,
        2: false,
        3: false,
        4: true,
        5: false,
      },
      "mu": {
        1: false,
        2: false,
        3: false,
        4: true,
        5: false,
      },
      "x": {
        1: false,
        2: false,
        3: false,
        4: true,
        5: false,
      },
      "q": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
      "vx": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
      "vy": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
      "vz": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
      "Ex": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
      "Ey": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
      "Ez": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
      "Bx": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
      "By": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
      "Bz": {
        1: false,
        2: false,
        3: false,
        4: false,
        5: true,
      },
    };

    
    if (program == 1) {
      projectileHeading.classList.remove("d-none");      
      // projectileHeading.classList.remove("d-none");
      lcrHeading.classList.add("d-none");
      pendulumHeading.classList.add("d-none");
      dragHeading.classList.add("d-none");
      fieldsHeading.classList.add("d-none");
    }
    
    else if (program == 2) {
      projectileHeading.classList.add("d-none");
      lcrHeading.classList.remove("d-none");
      pendulumHeading.classList.add("d-none");
      dragHeading.classList.add("d-none");
      fieldsHeading.classList.add("d-none");
    }
    
    else if (program == 3) {
      projectileHeading.classList.add("d-none");
      lcrHeading.classList.add("d-none");
      pendulumHeading.classList.remove("d-none");
      dragHeading.classList.add("d-none");
      fieldsHeading.classList.add("d-none");
    }

    else if (program == 4) {
      projectileHeading.classList.add("d-none");
      lcrHeading.classList.add("d-none");
      pendulumHeading.classList.add("d-none");
      dragHeading.classList.remove("d-none");
      fieldsHeading.classList.add("d-none");
    }

    else if (program == 5) {
      projectileHeading.classList.add("d-none");
      lcrHeading.classList.add("d-none");
      pendulumHeading.classList.add("d-none");
      dragHeading.classList.add("d-none");
      fieldsHeading.classList.remove("d-none");
    }
    
    Object.entries(fields).forEach(([fieldId, displayValue]) => {
        const field = document.getElementById(fieldId);
        const shouldDisplay = displayValue[program];
        if (shouldDisplay) {
          field.classList.remove("d-none");
        }
        else {
          field.classList.add("d-none");
        }
      })
    
    const massFieldHeading = document.getElementById("mass-field-heading");
    if (program == 1) {
      massFieldHeading.innerText = "Mass of the projectile (kg)";
    }
    else if (program == 4) {
      massFieldHeading.innerText = "Mass of the body (kg)";
    }

  const radiusFieldHeading = document.getElementById("radius-field-heading");
    if (program == 1) {
      radiusFieldHeading.innerText = "Radius of the projectile (m)";
    }
    else if (program == 4) {
      radiusFieldHeading.innerText = "Radius of the body (m)";
    }

  const ini_velFieldHeading = document.getElementById("ini_vel-field-heading");
    if (program == 1) {
      ini_velFieldHeading.innerText = "Initial velocity of the projectile (m/sec)";
    }
    else if (program == 4) {
      ini_velFieldHeading.innerText = "Initial velocity of the body (m/sec)";
    }
  }


  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const program = urlParams.get('prog_choice');
    displayCondition(program);
  })

  function perform(){
    const program=document.getElementById("prog").value;
    displayCondition(program);
  }  
</script>

</html>