<!DOCTYPE html>
<html>
  {% load static %}  
  {% load markdown_extras %}
  {% include 'style.html' %}
<body class="container-fluid w-100 min-vh-100 d-flex flex-column">
    <div class="row custom-bg1 nav-bar">
      <div class="col-8 mx-auto">
        <div class="d-flex p-3 w-50">
          <a href="/" class="me-5 link-default">Home</a>
          <a href="/gui" class="link-active">Let's Learn!</a>
        </div>
      </div>
    </div>

     <div class="form-bg row py-1 parallax" style="flex: 1 1 auto;">
        <div class="col-8 mx-auto"">
          <div class="row">
            <div class="col-12 p-4">
              <form method="get" action="/gui">
                <div class="mb-2 row text-info-emphasis form-text">
                  <h1 class="mb-4 mt-5"><b> Compass - Your Computational Physics Assistant</b></h4>
                  
                  <p id="prog_choice" class="h5 mt-3">Select the program you want to run </p>
                  
                  <div class="row mb-3">
                    <div class="col-6">
                      <select name="prog_choice" id="prog" class="form-select" onchange="perform()">
                        <option {% if prog_choice == 0 %}selected{% endif %} disabled value> Select program </option>
                        <option {% if prog_choice == 1 %}selected{% endif %} value="1">Study of Projectile Motion</option>
                        <option {% if prog_choice == 2 %}selected{% endif %} value="2">Study of LCR Oscillations</option>
                        <option {% if prog_choice == 3 %}selected{% endif %} value="3">Study of Phase Trajectory of a Double Pendulum</option>
                        <option {% if prog_choice == 4 %}selected{% endif %} value="4">Study of Drag Motion of a Spherical Body</option>
                        <option {% if prog_choice == 5 %}selected{% endif %} value="5">Study of Charge in an Electromagnetic Field</option>
                        <option {% if prog_choice == 6 %}selected{% endif %} value="6">Study of Lorenz Convection in Fluids</option>
                      </select>
                    </div>
                    <div class="col-6">
                      <a id="docs-program" href="#" target="_blank" class="btn btn-primary d-none px-3">View Program Documentation</a>
                    </div>    
                  </div>

                  <p id="method_choice" class="h5">Select the numerical method you want to use </p>
                  <div class="row mb-4">
                    <div class="col-6">
                      <select name="method_choice" value="{{ method_choice }}" id="method" class="form-select" onchange="methodDisplayCondition()">
                        <option {% if method_choice == 0 %}selected{% endif %} disabled value> Select method </option>
                        <option {% if method_choice == 1 %}selected{% endif %} value="1">Runge-Kutta 4th Order</option>
                        <option {% if method_choice == 2 %}selected{% endif %} value="2">Euler Method</option>
                        <option {% if method_choice == 3 %}selected{% endif %} value="3"">Ralston Method</option>
                      </select>
                    </div>
                    <div class="col-6">
                      <a id="docs-method" href="#" target="_blank" class="btn btn-primary d-none px-3">View Method Documentation</a>
                    </div>
                  </div>

                  <div id="headings">
                    <p id="projectile-heading" class="h3 d-none">Study of Projectile Motion</p>
                    <p id="lcr-heading" class="h3 d-none">Study of LCR Oscillations</p>
                    <p id="pendulum-heading" class="h3 d-none">Study of Phase Trajectory of a Double Pendulum</p>
                    <p id="drag-heading" class="h3 d-none">Study of Drag Motion of a Spherical Body</p>
                    <p id="fields-heading" class="h3 d-none">Study of Charge in an Electromagnetic Field</p>
                    <p id="convection-heading" class="h3 d-none">Study Lorenz Convection in Fluids</p>
                  </div>

                  <div id="form-fields">
                    
                    <div id="m" class="d-none">
                      <p id="mass-field-heading" class="h5">Mass of the projectile (kg) </p>  
                      <div class="row">
                        <div class="col-6">
                          <input name="m" value="{{ m }}" class="form-control mb-3" type="number" step="any" placeholder="type mass">
                        </div>
                      </div>
                    </div>

                    <div id="r" class="d-none">
                      <p id="radius-field-heading" class="h5">Radius of the projectile (m) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="r" value="{{ r }}" class="form-control mb-3" type="number" step="any" placeholder="type radius">
                        </div>
                      </div>
                    </div>

                    <div id="th" class="d-none">
                      <p class="h5">Release angle of the projectile (degrees) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="th" value="{{ th }}" class="form-control mb-3" type="number" step="any" placeholder="type angle">
                        </div>
                      </div>
                    </div>

                    <div id="v0" class="d-none">
                      <p id="ini_vel-field-heading" class="h5">Initial velocity of the projectile (m/s)</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="v0" value="{{ V0 }}" class="form-control mb-3" type="number" step="any" placeholder="type velocity">
                        </div>
                      </div>
                    </div>

                    <div id="c" class="d-none">
                      <p class="h5">Drag coefficient of the medium</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="c" value="{{ c }}" class="form-control mb-3" type="number" step="any" placeholder="type drag coefficient">
                        </div>
                      </div>
                    </div>
                  
                    <div id="L" class="d-none">
                      <p class="h5">Inductance (mH) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="L" value="{{ L }}" class="form-control mb-3" type="number" step="any" placeholder="type inductance">
                        </div>
                      </div>
                    </div>

                    <div id="C" class="d-none">
                      <p class="h5">Capacitance (μF)</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="C" value="{{ C }}" class="form-control mb-3" type="number" step="any" placeholder="type capacitance">
                        </div>
                      </div>
                    </div>
                    
                    <div id="R" class="d-none">
                      <p class="h5">Resistance (ohms)</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="R" value="{{ R }}" class="form-control mb-3" type="number" step="any" placeholder="type resistance">
                        </div>
                      </div>
                    </div>
                    
                    <div id="i0" class="d-none">
                      <p class="h5">Initial current (mA) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="i0" value="{{ I }}" class="form-control mb-3" type="number" step="any" placeholder="type initial current">
                        </div>
                      </div>
                    </div>
                
                    <div id="q0" class="d-none">
                      <p class="h5">Initial charge (mC)</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="q0" value="{{ Q }}" class="form-control mb-3" type="number" step="any" placeholder="type initial charge">
                        </div>
                      </div>
                    </div>

                    <div id="finalTime" class="d-none">
                      <p class="h5">Final time (sec) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="finalTime" value="{{ finalTime }}" class="form-control mb-3" type="number" step="any" placeholder="type final time">
                        </div>
                      </div>
                    </div>
                
                    <div id="n" class="d-none">
                      <p id="n-field-heading" class="h5">Number of loops </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="n" value="{{ n }}" class="form-control mb-3" type="number" step="any" placeholder="type number of loops you want to run">
                        </div>
                      </div>
                    </div>
                  
                    <div id="m1" class="d-none">
                      <p class="h5">Mass of first pendulum (kg) </p>
                      <div class="row">
                        <div class="col-6">    
                          <input name="m1" value="{{ m1 }}" class="form-control mb-3" type="number" step="any" placeholder="type mass of first pendulum">
                        </div>
                      </div>
                    </div>

                    <div id="m2" class="d-none">
                      <p class="h5">Mass of second pendulum (kg) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="m2" value="{{ m2 }}" class="form-control mb-3" type="number" step="any" placeholder="type mass of second pendulum">
                        </div>
                      </div>
                    </div>

                    <div id="l1" class="d-none">
                      <p class="h5">Length of first pendulum (m) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="l1" value="{{ l1 }}" class="form-control mb-3" type="number" step="any" placeholder="type length of first pendulum">
                        </div>
                      </div>
                    </div>

                    <div id="l2" class="d-none">
                      <p class="h5">Length of second pendulum (m) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="l2" value="{{ l2 }}" class="form-control mb-3" type="number" step="any" placeholder="type length of second pendulum">
                        </div>
                      </div>
                    </div>

                    <div id="o11" class="d-none">
                      <p class="h5">Release angle of first pendulum (degrees) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="o11" value="{{ o11 }}" class="form-control mb-3" type="number" step="any" placeholder="type release angle of first pendulum">
                        </div>
                      </div>
                    </div>

                    <div id="o22" class="d-none">
                      <p class="h5">Release angle of second pendulum (degrees) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="o22" value="{{ o22 }}" class="form-control mb-3" type="number" step="any" placeholder="type release angle of second pendulum">
                        </div>
                      </div>
                    </div>

                    <div id="g" class="d-none">
                      <p class="h5">Acceleration due to gravity (m/sec²)</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="g" value="{{ g }}" class="form-control mb-3" type="number" step="any" placeholder="type value of acceleration due to gravity">
                        </div>
                      </div>
                    </div>
                  
                    <div id="p" class="d-none">
                      <p class="h5">Medium density (kg/m³) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="p" value="{{ p }}"  class="form-control mb-3" type="number" step="any" placeholder="type medium density">
                        </div>
                      </div>
                    </div>

                    <div id="mu" class="d-none">
                      <p class="h5">Viscosity coefficient of the medium (N-s/m²)</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="mu" value="{{ mu }}" class="form-control mb-3" type="number" step="any" placeholder="type viscosity coefficient">
                        </div>
                      </div>
                    </div>
                    
                    <div id="x" class="d-none">
                      <p id="x-field-heading" class="h5">Initial height (m) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="x" value="{{ x }}" class="form-control mb-3" type="number" step="any" placeholder="type initial height">
                        </div>
                      </div>
                    </div>

                    <div id="q" class="d-none">
                      <p class="h5">Charge on the particle (C) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="q" value="{{ q }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>
              
                    <div id="vx" class="d-none">
                      <p class="h5">Magnitude of x-component of velocity of the particle (m/sec) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="vx" value="{{ vx }}"  class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="vy" class="d-none">
                      <p class="h5">Magnitude of y-component of velocity of the particle (m/sec) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="vy" value="{{ vy }}"  class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="vz" class="d-none">
                      <p class="h5">Magnitude of z-component of velocity of the particle (m/sec) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="vz" value="{{ vz }}"  class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="Ex" class="d-none">
                      <p class ="h5">Magnitude of x-component of Electric Field (N/C) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="Ex" value="{{ Ex }}"  class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="Ey" class="d-none">
                      <p class="h5">Magnitude of y-component of Electric Field (N/C) </p>
                      <div class="row">
                        <div class="col-6">           
                          <input name="Ey" value="{{ Ey }}"  class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="Ez" class="d-none">
                      <p class="h5">Magnitude of z-component of Electric Field (N/C) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="Ez" value="{{ Ez }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="Bx" class="d-none">
                      <p class="h5">Magnitude of x-component of Magnetic Field (T) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="Bx" value="{{ Bx }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>
              
                    <div id="By" class="d-none">
                      <p class="h5">Magnitude of y-component of Magnetic Field (T) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="By" value="{{ By }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="Bz" class="d-none">
                      <p class="h5">Magnitude of z-component of Magnetic Field (T) </p>
                      <div class="row">
                        <div class="col-6">
                          <input name="Bz" value="{{ Bz }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="sigma" class="d-none">
                      <p class="h5">Enter the Prandtl number (ratio of viscosity to thermal diffusivity)</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="sigma" value="{{ sigma }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="rho" class="d-none">
                      <p class="h5">Enter the Rayleigh Number</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="rho" value="{{ rho }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="beta" class="d-none">
                      <p class="h5">Enter the ratio of physical dimensions of layer</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="beta" value="{{ beta }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="y" class="d-none">
                      <p class="h5">Enter the initial variation in horizontal temperature value</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="y" value="{{ y }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="z" class="d-none">
                      <p class="h5">Enter the initial variation in vertical temperature value</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="z" value="{{ z }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <div id="h" class="d-none">
                      <p class="h5">Enter the step size for computation</p>
                      <div class="row">
                        <div class="col-6">
                          <input name="h" value="{{ h }}" class="form-control mb-3" type="number" step="any">
                        </div>
                      </div>
                    </div>

                    <p id="result" class="{% if result == '' %}d-none{% endif %} h5 text alert alert-success w-50"> {{ result }} </p>
              
                  </div>

                  <div class="mt-3 mb-3">
                    <button type="submit" class="btn btn-primary px-3">Run</button>
                    <button type="button" onclick="resetForm()" class="btn btn-primary px-3">Clear</button>
                    <button id="source-code" type="button" class="btn btn-primary mt-3 mb-3 d-none px-3" onclick="viewProgramCode()">View Program Code</button>
                  </div>
                  
                </div>
              </form>
            </div>
          </div>
        </div>
  
      </div>

      {% for file_name in codeFilesList %} 
      <div id="code-{{ file_name }}" class="row code-bg d-none">
        <div class="col-8 mx-auto py-5">

          <div class="codehilite position-relative p-3 rounded mb-5">
            <a id="onlinegdb-link" href="https://www.onlinegdb.com/" target="_blank" class="btn btn-light px-3 float-justify">Edit Online: OnlineGDB</a>
            <a id="codeblocks-link" href="/codeblocks/" target="_blank" class="btn btn-light px-3 float-justify">Edit Offline: CodeBlocks</a>
            <br>
            <br>
            <code>{{ file_name | add:".md" | markdown | safe }}</code>
            <button id="code-copy-button" type="button" class="copy-button btn btn-light" onclick="copyCode('{{ file_name }}')">📋</button>
          </div>
      
        </div>
      </div>
      {% endfor %}

    </div>  
    
  
  </div>
  {% include 'footer.html' %}

</body>

{% include 'script.html' %}

</html>