<!DOCTYPE html>
<html>
  <head>
    <title>Computational Physics GUI</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include 'style.html' %}
  </head>
  <body class="container-fluid w-100 min-vh-100">
    <div class="row custom-bg1">
      <div class="col-8 mx-auto">
        <div class="d-flex p-3 w-50">
          <a href="/" class="me-5 link-active">Home</a>
          <a href="/gui" class="link-default">Let's Learn!</a>
        </div>
      </div>
    </div>

    <div class="row custom-bg2 py-5">
      <div class="col-8 mx-auto"">
        <div class="row">
          <div class="col-7 p-4">
            <h1 class="mb-4">
              Open Source GUI for Teaching and Implementing Computational
              Physics Problems
            </h1>
            <p class="mb-5">
              This is an
              <b
                >Open Source GUI for Teaching and Implementing Computational
                Physics Problems</b
              >. Here you will study the dynamics of a number of physical
              systems and predict their evolutionary behaviour using several
              numerical techniques. You will also learn how to write C++
              programs for solving these problems.
            </p>
            <a href="/gui" class="btn btn-primary btn-lg mb-0">Get Started</a>
          </div>
          <div class="col-5 p-4 text-center">
            <p style="font-size: 180px" class="mb-0">🔬</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row py-5">
      <div class="col-6 p-4 mx-auto">
        <h3 class="mb-5">How to use this app:</h3>
        <div>
          {% include "app-steps.html" with content="Go to <b>Let's Learn!</b>" %}
          {% include "app-steps.html" with content="Select a <b>problem</b> to study." %}
          {% include "app-steps.html" with content="Select a <b>numerical method</b> to use." %}
          {% include "app-steps.html" with content="Enter the <b>inputs</b>." %}
          {% include "app-steps.html" with content="Click on <b>Run</b>." %}
          {% include "app-steps.html" with content="To downlaod your data (inputs, outputs, computed data, graphs), click on <b>Download Data</b>." %}
          {% include "app-steps.html" with content="To learn how to code the problem, click on <b>View Program Code</b> and practice the given exercises in the code and test the results on the provided online compiler. " %}
          {% include "app-steps.html" with content="To learn about the physics behind the program, click on <b>Documentation</b>." %}
          {% include "app-steps.html" with content="<a href='/gui' class='btn btn-primary btn-sm'>Let's Learn</a>" is_last="true" %}
        </div>
        <!-- <p class="h5 text-center">So let the learning begin!</p>
        <div style="text-align: center">
        </div> -->
      </div>
    </div>
    
    {% include 'footer.html' %}
  </body>
</html>
