<!DOCTYPE html>
<html>
<head>
  <title>Computational Physics GUI</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<style>
  .bg-custom1 {
    background: #c1c6fc;
  }
  .bg-custom2 {
    background:#000866;
    color: #ffffff;
  }
</style>

<body>
  
  <div class="container">
    
    <div class="d-flex justify-content-between bg-custom2 p-3">
      <p class="h5 text">{{ result }} GUI for Teaching and Implementing Computational Physics Problems</p>
      <p class="h5 text"> IAPT NCICP 2024</p>
    </div>
    
    <form method="get" action="/algorithms">
    <div class="p-3 mb-2 bg-custom1 text-info-emphasis border">

      <p class="h5">Select the program you want to run </p>
      <div class="row">
        <div class="col-6">
          <div class="d-flex justify-content-between">
            <select id="prog" class="form-select form-select-sm" aria-label="Small select example">
              <option selected>Select program name</option>
              <option value="1">Study of projectile motion</option>
              <option value="2">Study of LCR oscillations</option>
              <option value="3">Study of motion of falling spherical body under the various effects of medium</option>
              <option value="4">Study of phase trajectory of a double pendulum</option>
            </select>
        
            <div class="col">    
              <button type="button" class="btn btn-primary" onclick="action('prog')">Select</button>  
            </div>
          </div>    
        </div>
      </div>
  
    <hr>

      <p class="h5">Select the numerical method you want to use </p>
      <div class="row">
        <div class="col-6">    
          <div class="d-flex justify-content-between">
            <select id="method" class="form-select form-select-sm" aria-label="Small select example">
              <option selected>Select numerical method</option>
              <option value="1">Runge-Kutta 4th Order</option>
              <option value="2">Euler Method</option>
              <option value="3">Ralston Method</option>
            </select>
            <button type="button" class="btn btn-primary" onclick="action('method')">Select</button>
          </div>
        </div>
      </div>
    
    <hr>
  
    <p class="h3">Projectile Motion </p>
    
    <p class="h5">mass of the projectile </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" name="mass" type="text" placeholder="type mass" aria-label="default input example">
      </div>
    </div>

    <p class="h5">release angle of the projectile </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" name="angle" type="text" placeholder="type angle" aria-label="default input example">
      </div>
    </div>

    <p class="h5">initial velocity of the projectile</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" name="velocity" type="text" placeholder="type velocity" aria-label="default input example">
      </div>
    </div>

    <p class="h5">drag coefficient of the medium</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" name="drag" type="text" placeholder="type drag coefficient" aria-label="default input example">
      </div>
    </div>  
    
    <hr>

    <button type="submit" class="btn btn-primary">Run</button>
  </div>
</form>
  </div>
</body>

<script>
  function action(selectid){
    const program=document.getElementById(selectid);
    const selectedValue=program.value;
    console.log(selectedValue);
  }
</script>

</html> 