<!DOCTYPE html>
<html>
<head>
  <title>Computational Physics GUI</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<style>
  .bg-custom1 {
    background: #c1c6fc;
  }
  .bg-custom2 {
    background:#000866;
    color: #c1c6fc;
  }
</style>

<body>
  
  <div class="container">
    
    <div class="d-flex justify-content-between bg-custom2 p-3">
      <p class="h5 text">{{ result }} GUI for Teaching and Implementing Computational Physics Problems</p>
      <p class="h5 text"> IAPT NCICP 2024</p>
    </div>
    
    <form>
    <div class="p-3 mb-2 bg-custom1 text-info-emphasis border">

      <p class="h5">Select the program you want to run </p>
      <div class="row">
        <div class="col-6">
          <div class="d-flex justify-content-between">
            <select id="prog" class="form-select form-select-sm" aria-label="Small select example">
              <option selected>Select program name</option>
              <option value="1">Study of projectile motion</option>
              <option value="2">Study of LCR oscillations</option>
              <option value="3">Study of motion of falling spherical body under the various effects of medium</option>
              <option value="4">Study of phase trajectory of a double pendulum</option>
            </select>
        
            <div class="col">    
              <button type="button" class="btn btn-primary" onclick="action('prog')">Select</button>  
            </div>
          </div>    
        </div>
      </div>
  
    <hr>

      <p class="h5">Select the numerical method you want to use </p>
      <div class="row">
        <div class="col-6">    
          <div class="d-flex justify-content-between">
            <select id="method" class="form-select form-select-sm" aria-label="Small select example">
              <option selected>Select numerical method</option>
              <option value="1">Runge-Kutta 4th Order</option>
              <option value="2">Euler Method</option>
              <option value="3">Ralston Method</option>
            </select>
            <button type="button" class="btn btn-primary" onclick="action('method')">Select</button>
          </div>
        </div>
      </div>
    
    <hr>
  
    <p class="h3">Projectile Motion </p>
    
    <p class="h5">mass of the projectile </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type mass" aria-label="default input example">
      </div>
    </div>

    <p class="h5">release angle of the projectile </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type angle" aria-label="default input example">
      </div>
    </div>

    <p class="h5">initial velocity of the projectile</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type velocity" aria-label="default input example">
      </div>
    </div>

    <p class="h5">drag coefficient of the medium</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type drag coefficient" aria-label="default input example">
      </div>
    </div>  
    
    <hr>

    <!-- <p class="h3">LCR Oscillations</p>
    
    <p class="h5">inductance </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type inductance" aria-label="default input example">
      </div>
    </div>
    
    <p class="h5">capacitance </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type capacitance" aria-label="default input example">
      </div>
    </div>
    
    <p class="h5">resistance </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type resistance" aria-label="default input example">
      </div>
    </div>
    
    <p class="h5">initial charge </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type initial charge" aria-label="default input example">
      </div>
    </div>
    
    <p class="h5">initial current </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type initial current" aria-label="default input example">
      </div>
    </div>
    
    <p class="h5">final time</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type final time" aria-label="default input example">
      </div>
    </div>

    <p class="h5">number of loops </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type number of loops you want to run" aria-label="default input example">
      </div>
    </div>
    
    <hr>
    
    <p class="h3">Falling Body</p>
    
    <p class="h5">mass of the body</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type mass" aria-label="default input example">
      </div>
    </div>

    <p class="h5">radius of the body </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type radius" aria-label="default input example">
      </div>
    </div>

    <p class="h5">medium density </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type medium density" aria-label="default input example">
      </div>
    </div>

    <p class="h5">drag coefficient of the medium</p>
    <div class="row">
      <div class="col-6">           
        <input class="form-control" type="text" placeholder="type drag coefficient" aria-label="default input example">
      </div>
    </div>

    <p class="h5">viscosity coefficient of the medium</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type viscosity coefficient" aria-label="default input example">
      </div>
    </div>

  
    <p class="h5">initial height</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type initial height" aria-label="default input example">
      </div>
    </div>

    <p class="h5">initial velocity</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type initial velocity" aria-label="default input example">
      </div>
    </div>

    <p class="h5">acceleration due to gravity</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type value of acceleration due to gravity" aria-label="default input example">
      </div>
    </div>

    <hr>

    <p class="h3">Double Pendulum</p>

    <p class="h5">mass of first pendulum</p>
    <div class="row">
      <div class="col-6">    
        <input class="form-control" type="text" placeholder="type mass of first pendulum" aria-label="default input example">
      </div>
    </div>

    <p class="h5">mass of second pendulum </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type mass of second pendulum" aria-label="default input example">
      </div>
    </div>

    <p class="h5">length of first pendulum </p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type length of first pendulum" aria-label="default input example">
      </div>
    </div>

    <p class="h5">length of second pendulum</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type length of second pendulum" aria-label="default input example">
      </div>
    </div>

    <p class="h5">release angle of first pendulum</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type release angle of first pendulum" aria-label="default input example">
      </div>
    </div>

    <p class="h5">release angle of second pendulum</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type release angle of second pendulum" aria-label="default input example">
      </div>
    </div>

    <p class="h5">acceleration due to gravity</p>
    <div class="row">
      <div class="col-6">
        <input class="form-control" type="text" placeholder="type value of acceleration due to gravity" aria-label="default input example">
      </div>
    </div>

    <hr> -->

    <button type="submit" class="btn btn-primary" onclick="action('prog')">Run</button>
  </div>
</form>
  </div>
</body>

<script>
  function action(selectid){
    const program=document.getElementById(selectid);
    const selectedValue=program.value;
    console.log(selectedValue);
  }
</script>

</html> 